html,
body {
	padding: 0;
	margin: 0;
	font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::selection {
	background: #99999944;
}

:root {
	--blue-text: #0070f0;
	--orange-text: #b3231e;
	--yellow-text: #bda000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--blue-text: #77bbff;
		--orange-text: #ff6655;
		--yellow-text: #ffcc55;
	}
}

.blue-text {
	color: var(--blue-text);
}
.orange-text {
	color: var(--orange-text);
}
.yellow-text {
	color: var(--yellow-text);
}

a {
	color: inherit;
	text-decoration: none;
}

.docs-link {
	position: absolute;
	top: 6px;
	right: 0;
	opacity: 0.75;
	font-weight: 450;
	border-bottom: 1px solid #999999;
	padding: 2px 0;

	&:hover {
		opacity: 1;
	}
}

p {
	a {
		opacity: 0.75;
		font-weight: 450;
		border-bottom: 1px solid #999999;
		padding: 2px 0;

		&:hover {
			opacity: 1;
		}
	}
	code {
		padding: 0 2px;
		margin: 0;
	}
}

pre {
	padding: 0;
	margin: 24px 0;
	overflow-x: auto;
	overflow-y: hidden;
}

pre,
code {
	background: none;
	font-family: "Fira Code", monospace;
	font-size: 0.85em;
	font-weight: 450;
	border-radius: 0.5em;
}

hr {
	border: none;
	margin: 40px 0;
	height: 1px;
	width: 100%;
	background: #aaaaaa66;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
b,
strong {
	font-weight: 550;
}

button {
	color: currentColor;
}

/* Avoid awful default scrollbars in most OS/Browsers, especially in horizontally scrolling text displays. */

::-webkit-scrollbar {
	width: 8px;
	height: 4px;
	background: #333333;
	margin: 4px;
	position: relative;
}

::-webkit-scrollbar-thumb {
	background: #666666;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
	background: #999999;
}
